<h2>Login to your account</h2>

<%= form_for(@user, url: login_path(@user)) do |f| %>

<div class="login_fields">
<%= f.label :email %>
<%= f.text_field :email %>
</div>

<div class="login_fields">
<%= f.label :password %>
<%= f.password_field :password %>
</div>

<%= f.submit "Login" %>

<% end %>
