<h2>Pitch Yer Tent Pardner!</h2>
<br>
<%= link_to "Create New Camp" , new_camp_path %>
<br>
<% if logged_in? %>
<%= link_to "User Profile", user_path(current_user.id) %>
<%= link_to "Log Out", logout_path %>
<% else %>
<%= link_to "Log In", login_path %>
<% end %>
<br><br>

<% @camps.each do |camp| %>
<%= link_to camp.name, camp_path(camp) %><br>
<% end %><br><br>
