<div id="camp-name">
  <br><h3><%= @camp.name %></h3>
</div>
<div id="last-updated">
  <p><em>Last Updated: <%= @camp.updated_at.strftime("%b %d, %Y") %></em></p>
</div>
<div id="location">
  <b>Located in:</b> <%= @camp.state %>
</div>
<div id="coordinates">
  <b>GPS Coordinates:</b> <%= @camp.lat %>, <%= @camp.lng %>
</div>
<div id="categories">
  <b>Categories:</b>
  <% @camp.categories.each do |category| %>
  <%= category.name %>
  <% end %>
  <br><br>
</div>
<div id="camp-description">
  <p>
    <%= @camp.description %>
    <%= link_to "Edit Campsite", edit_camp_path %>
  </p>
</div>



<!-- @camp.reviews.each do |review|
Rating: review.rating
By: review.user.username
 review.comments
-->

<div id="get-reviews">
  Read Reviews
</div>
<div id='reviews'>
  <br>
</div>
<div id="post-review">
  <h3>Leave a Review</h3>
  <%= render 'reviews/form', review: @review %>
</div>
