<h2>This is the Camp SHOW page<h2>

<h3><%= @camp.name %></h3><br>
<p>Located in: <%= @camp.state %></p>
<p>GPS Coordinates: <%= @camp.lat %>, <%= @camp.lng %></p>
<p>Last Updated: <%= @camp.updated_at.strftime("%b %d, %Y") %></p>
<p>Description: <br><br>
<%= @camp.description %></p>

<%= link_to "Make A Review", new_user_review_path(@camp) %>
<%= link_to "Edit", edit_camp_path %><br>
<%= link_to "Back to Camps", camps_path %>
