<h2>Howdy <%= @user.first_name %></h2>
<br>
<h3>Past Reviews</h3>
<br>
<p><% @user.reviews.each do |review| %>
<%= review.camp.name %><br>
Rating: <%= review.rating %><br>
<%= review.comments %><br>
<%= link_to "Edit", edit_camp_review_path(review.camp_id, review.id) %><br>
<%= link_to 'Delete',
                 camp_review_path(review.camp_id, review.id),
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %>

          <!-- Delete function currently not working -->
<br><br>
<% end %> </p>
