<!DOCTYPE html>
<html>
  <head>
    <title>Incampment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('logosmall.png') %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Find Campsite", root_path %> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Top Rated", top_rated_path %> </a>
          </li>
        </ul>
      </div>
      <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" >
          <%=link_to image_tag("logotext.png", alt: "Incampment"), root_path %>
        </a>
      </div>
      <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
          <% if !logged_in? %>
            <li class="nav-item">
              <a class="nav-link" <%= link_to "Register", register_path %> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" <%= link_to "Login", login_path %> </a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" <%= link_to "New Campsite", new_camp_path %> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" <%= link_to "Profile", profile_path %> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" <%= link_to "Logout", logout_path %> </a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
          <%= yield %>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>

    <footer class="footer mt-auto py-3">
    </footer>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
